{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}

<div class="legal-container">

    <h1>Conditions Générales d'Utilisation</h1>

    <p>
        Les présentes Conditions Générales d'Utilisation définissent les règles
        d'utilisation du site <strong>Au fil des saisons</strong>.
    </p>

    <h2>Création d'un compte</h2>

    <p>
        L'inscription est gratuite et réservée aux utilisateurs souhaitant
        consulter, enregistrer ou partager des recettes.
    </p>

    <h2>Responsabilités</h2>

    <p>
        Chaque utilisateur est responsable des recettes et des contenus
        qu'il publie sur la plateforme.
    </p>

    <h2>Propriété intellectuelle</h2>

    <p>
        Les contenus publiés restent la propriété de leurs auteurs.
    </p>

<div class="legal-footer">
    <a href="{{ path('app_register') }}">
        ← Retour à l'inscription
    </a>

       <a class="btn-home" href="{{ path('app_home') }}">
        Accueil
    </a>
</div>

</div>



{% endblock %}