/* ==================================================
   BOUTONS
================================================== */

.btn {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;
    min-height: 70px;

    padding: 15px 20px;

    border-radius: 15px;
    background: var(--color-primary);
    color: #fff;

    text-decoration: none;
    text-align: center;

    font-size: 1.2rem;
    font-weight: 600;

    transition: .3s;


}

.btn:hover {

    background: var(--color-primary-dark);

    transform: translateY(-2px);

}

.btn:active {

    transform: scale(.98);

}